{% extends 'base.html.twig' %}

{% block title %}Category : {{ category.id }}{% endblock %}

{% block body %}
    <h1>Toutes les catégories de la table catégorie : </h1>
    {% for program in programs %}
        <div>
            <p>{{ program.id }}</p>
            <h1>{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <a href="{{ path("program_show", { program_id: program.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucun programme trouvé.
    {% endfor %}

    <a href="{{ path('program_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}