{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
             <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>
                    {% for comment in episode.comments %}
                        {{ comment.author.email }}
                        {{ comment.rate }}
                        {{ comment.comment }}
                        {% if app.user %}
                            <a href="{{ path('comment_show', {'id': comment.id}) }}">Voir</a>
                            <a href="{{ path('comment_edit', {'id': comment.id}) }}">Modifier</a>
                        {% endif %}
                        <br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('episode_index') }}" class="btn btn-primary">Revenir à la liste des épisodes</a>

    {% if app.user %}
        <a href="{{ path('episode_edit', {'slug': episode.slug}) }}" class="btn btn-primary">Éditer cet épisode</a>
    {% endif %}

    {% if app.user %}
            <a href="{{ path('comment_new', {'id' : episode.id}) }}" class="btn btn-primary">Ajouter un commentaire</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('episode/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
