{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for program in programs %}
        <div class="col-sm-6">
            <div class="card border-primary mb-3 h-100" style="max-width: 18rem;">
                <div class="card-header"><h4 class="card-title">{{ loop.index }} / {{ program.title }}</h4></div>
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Catégorie : {{ program.category.name }}</h5>
                    <p class="card-text">{{ program.summary }}</p>
                    <a href="{{ path("program_show", { 'slug' : program.slug }) }}" class="btn btn-primary">Voir la fiche</a>
                </div>
            </div>
        </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>


    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
    <a href="{{ path('program_new') }}">
        Ajouter un nouveau programme
    </a>
{% endblock %}