{# templates/program/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Saison #{{ season.number }}{% endblock %}

{% block body %}

    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ season.id }}</td>
                </tr>
                <tr>
                    <th>Number</th>
                    <td>{{ season.number }}</td>
                </tr>
                <tr>
                    <th>Year</th>
                    <td>{{ season.year }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ season.description }}</td>
                </tr>
                </tbody>
            </table>

            {% for episode in episodes %}
                <a href="{{ path('program_episode_show', {program_id:program.id, season_id:season.id, episode_id:episode.id}) }}"
                   class="btn btn-primary">Épisode {{ episode.number }}</a>
            {% endfor %}
            <div>
                <br>
                <a href="{{ path('episode_new') }}">Create new</a>
            </div>
        </div>
    </div>

    <br>

    {{ include('season/_delete_form.html.twig') }}

    <a href="{{ path('program_index') }}" class="btn btn-primary">
        Retour à la liste des programmes
    </a>

{% endblock %}
