{# templates/program/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Saison #{{ season.number }}{% endblock %}

{% block body %}

<div class="media">
  <div class="media-body">
    <h1 class="mt-0">{{ program.title }}</h1>
    {% for episode in episodes %}
        <p>{{ episode.number }}</p>
        <p>{{ episode.title }}</p>
        <p>{{ episode.synopsis }}</p>
    {% endfor %}
  </div>
</div>

<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>

{% endblock %}